*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Commissioner", sans-serif;
    background-color: hsl(0, 0%, 97%);
}

/* Header */

.header {
    height: 400px;
    background-image: url("../images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    max-width: 1200px;
    margin: auto auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 35px;
}

.header__link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 14px;
}

/* Main */

.main {
    position: relative;
    top: -90px;
    max-width: 700px;
    margin: auto auto;
    background-color: hsl(0, 0%, 97%);
    border-radius: 5px;
}

/* Welcome */

.welcome {
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 0px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 5px;
}

.welcome__image {
    position: relative;
    top: -30px;
}

.welcome__title {
    font-size: 28px;
    font-weight: bold;
}

.welcome__desc {
    margin: 20px 0;
    color: hsl(0, 0%, 48%);
}

.welcome__actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__action {
    padding: 17px 35px;
    font-weight: bold;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.welcome__action--green {
    color: hsl(0, 0%, 100%);
    background-color: hsl(176, 50%, 47%);
}

.welcome__action--green:hover {
    background-color: hsl(176, 72%, 28%);
}

.welcome__action--gray {
    position: relative;
    color: hsl(0, 0%, 48%);
    background-color: hsl(0, 0%, 95%);
}

.welcome__action--bookmarked {
    background-color: hsl(0, 0%, 98%);
    color: hsl(176, 72%, 28%);
}

.welcome__bookmark {
    position: absolute;
    left: -25px;
    top: -3px;
    transition: all 200ms ease-out;
}

.welcome__bookmark--bookmarked {
    filter: invert(36%) sepia(77%) saturate(472%) hue-rotate(127deg) brightness(91%) contrast(88%);
}

/* stat */

.stat {
    margin-bottom: 20px;
    padding: 40px 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 90%);

}

.stat__info {
    display: flex;
}

.stat__category {
    flex: 1;

}

.stat__category:nth-child(n + 2) {
    padding-left: 50px;
    border-left: 1px solid hsl(0, 0%, 80%);
}

.stat__value {
    font-weight: bold;
    font-size: 26px;
}

.stat__label {
    margin-top: 10px;
    font-size: 14px;
    color: hsl(0, 0%, 48%);
}

.stat__bar {
    margin-top: 30px;
    height: 12px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 10px;
}

.stat__progress {
    height: 12px;
    width: 75%;
    background-color: hsl(176, 50%, 47%);
    border-radius: 10px;
}

/* About */

.about {
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 90%);

}

.about__title {
    font-size: 24px;
    font-weight: bold;
}

.about__desc {
    margin-top: 30px;
    line-height: 1.5;
    color: hsl(0, 0%, 48%);
}

/* Reward */

.reward {
    margin-top: 25px;
    padding: 30px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}

.reward--out {
    opacity: 0.5;
}

.reward__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reward__title {
    font-weight: bold;
    font-size: 18px;
}

.reward__type {
    color: hsl(176, 50%, 47%);
}

.reward__content {
    margin: 20px 0;
    line-height: 1.5;
    color: hsl(0, 0%, 48%);
}

.reward__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reward__left {
    display: flex;
    align-items: center;
}

.reward__value {
    font-size: 26px;
    font-weight: bold;
}

.reward__label {
    margin-left: 5px;
    font-size: 14px;
    color: hsl(0, 0%, 48%);
}

.reward__select {
    padding: 13px 25px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.reward__select--able {
    background-color: hsl(176, 50%, 47%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.reward__select--able:hover {
    background-color: hsl(176, 72%, 28%);
}

.reward__select--out {
    background-color: hsl(0, 0%, 48%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    padding: 13px 30px;
}

/* Modal */

.modal {
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 90%);
}

.modal__heading {
    display: flex;
    justify-content: flex-end;
}

.modal__close {
    cursor: pointer;
}

.modal__title {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}

.modal__desc {
    margin: 20px 0;
    color: hsl(0, 0%, 48%);
}